<a href="https://colab.research.google.com/github/IqmanS/summer_school_assignments/blob/main/Assignment_1_Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [374]:
import sympy as sp
import numpy as np

Q1. L is a list defined as L= [11, 12, 13, 14]
1. WAP to add 50 and 60 to L.
2. WAP to remove 11 and 13 from L.
3. WAP to sort L in ascending order.
4. WAP to sort L in descending order.
5. WAP to search for 14 in L.
6. WAP to count the number of elements present in L.
7. WAP to sum all the elements in L.
8. WAP to sum all ODD numbers in L.
9. WAP to sum all EVEN numbers in L.
10. WAP to sum all PRIME numbers in L.
11. WAP to clear all the elements in L.
12. WAP to delete L.

In [375]:
L =[11,12,13,14]

In [376]:
L.extend([50,60])
L

[11, 12, 13, 14, 50, 60]

In [377]:
for i in [11,13]:
  L.remove(i)
L

[12, 14, 50, 60]

In [378]:
L.sort()
L

[12, 14, 50, 60]

In [379]:
L.sort(reverse=True)
L

[60, 50, 14, 12]

In [380]:
L.index(14)

2

In [381]:
len(L)

4

In [382]:
sum =0
for i in L:
  sum +=i
sum

136

In [383]:
sum =0
for i in L:
  sum +=i if i%2!=0 else 0
sum

0

In [384]:
sum =0
for i in L:
  sum +=i if i%2==0 else 0
sum

136

In [385]:
sum =0
for i in L:
  sum +=i if sp.isprime(i) else 0
sum

0

In [386]:
L.clear()
L

[]

In [387]:
del L

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
1. WAP to add new entry in D; key=8 and value is 8.8
2. WAP to remove key=2.
3. WAP to check weather 6 key is present in D.
4. WAP to count the number of elements present in D.
5. WAP to add all the values present D.
6. WAP to update the value of 3 to 7.1.
7. WAP to clear the dictionary.

In [388]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

In [389]:
D[8] = 8.8
D

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [390]:
print(6 in D.keys())

False

In [391]:
len(D.values())

6

In [392]:
sum = 0
for i in D.values():
  sum += i 
sum

45.2

In [393]:
D[3] = 7.1
D

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [394]:
D.clear()
D

{}

Q3.   S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
1. WAP to add 55 and 66 in Set S1.
2. WAP to remove 10 and 30 from Set S1.
3. WAP to check whether 40 is present in S1.
4. WAP to find the union between S1 and S2.
5. WAP to find the intersection between S1 and S2.
6. WAP to find the S1 - S2

In [395]:
S1 = [10,20,30,40,50,60]
S2 = [40,50,60,70,80,90]

In [396]:
S1.extend([55,66])
S1

[10, 20, 30, 40, 50, 60, 55, 66]

In [397]:
for i in [10,30]:
  S1.remove(i)
S1

[20, 40, 50, 60, 55, 66]

In [398]:
print(40 in S1)

True

In [399]:
print(list(np.unique(S1+S2))) #UNION

[20, 40, 50, 55, 60, 66, 70, 80, 90]

In [400]:
intersect = [i for i in S1 if i in S2] #INTERSECTION
print(intersect)

[40, 50, 60]

In [401]:
for i in intersect:
  S1.remove(i)
S1

[20, 55, 66]

Q4. Write the following program.
1. WAP to print 10 random strings whose length between 6 and 8.
2. WAP to print all prime numbers between 600 and 800.
3. WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [402]:
import random 
import string

In [403]:
for i in range(10):
  l = random.randint(6,8)
  s = random.choices(string.ascii_uppercase,k=l)
  print("".join(s))

NMTLRPUL
VOJOMTNN
XXDQLVB
SPMUFH
GCJVEJ
ATGTLS
NDXZMA
ZYNPAV
YBUKTI
CRGTMU

In [404]:
for i in range(600,800):
  if sp.isprime(i):
    print(i, end= " ")

601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797

In [405]:
for i in range(100,1000):
  if i%7==0 and i%9==0:
    print(i, end=" ")

126 189 252 315 378 441 504 567 630 693 756 819 882 945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find
1. Common numbers in the two lists
2. Unique numbers in both the list
3. Minimum in both the list
4. Maximum in both the list
5. Sum of both the lists

In [406]:
L1 = random.choices(population=[i for i in range(11,30)],k=10)
L1

[13, 22, 19, 18, 14, 19, 24, 24, 27, 18]

In [407]:
L2 = random.choices(population=[i for i in range(11,30)],k=10)
L2

[17, 25, 22, 25, 29, 15, 12, 11, 12, 20]

In [408]:
[i for i in L1 if i in L2] #INTERSECT

[22]

In [409]:
[i for i in L1 if i not in L2] + [j for j in L2 if j not in L1] #UNIQUE

[13, 19, 18, 14, 19, 24, 24, 27, 18, 17, 25, 25, 29, 15, 12, 11, 12, 20]

In [410]:
min(L1+L2)

11

In [411]:
max(L1+L2)

29

In [412]:
list(np.add(L1,L2)) #np.add adds element wise the 2 arrays

[30, 47, 41, 43, 43, 34, 36, 35, 39, 38]

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
1. All odd numbers
2. All even numbers
3. All prime numbers

In [413]:
nums = [i for i in range(101,900)]
rand = random.choices(population=nums,k=100)
print(rand)

[536, 788, 129, 612, 899, 786, 269, 671, 439, 551, 722, 507, 109, 163, 217, 380, 657, 431, 735, 655, 224, 253, 535, 645, 896, 538, 212, 412, 191, 316, 449, 167, 220, 335, 443, 555, 373, 316, 372, 836, 277, 856, 241, 755, 432, 589, 456, 166, 127, 694, 392, 772, 275, 820, 276, 223, 334, 547, 894, 427, 249, 435, 408, 397, 279, 605, 611, 666, 526, 403, 136, 380, 808, 617, 266, 640, 808, 598, 195, 576, 711, 352, 719, 655, 138, 289, 668, 763, 880, 478, 172, 641, 668, 647, 618, 657, 303, 470, 743, 868]

In [414]:
print([i for i in rand if i%2!=0])

[129, 899, 269, 671, 439, 551, 507, 109, 163, 217, 657, 431, 735, 655, 253, 535, 645, 191, 449, 167, 335, 443, 555, 373, 277, 241, 755, 589, 127, 275, 223, 547, 427, 249, 435, 397, 279, 605, 611, 403, 617, 195, 711, 719, 655, 289, 763, 641, 647, 657, 303, 743]

In [415]:
print([i for i in rand if i%2==0])

[536, 788, 612, 786, 722, 380, 224, 896, 538, 212, 412, 316, 220, 316, 372, 836, 856, 432, 456, 166, 694, 392, 772, 820, 276, 334, 894, 408, 666, 526, 136, 380, 808, 266, 640, 808, 598, 576, 352, 138, 668, 880, 478, 172, 668, 618, 470, 868]

In [416]:
print([i for i in rand if sp.isprime(i)==0])

[536, 788, 129, 612, 899, 786, 671, 551, 722, 507, 217, 380, 657, 735, 655, 224, 253, 535, 645, 896, 538, 212, 412, 316, 220, 335, 555, 316, 372, 836, 856, 755, 432, 589, 456, 166, 694, 392, 772, 275, 820, 276, 334, 894, 427, 249, 435, 408, 279, 605, 611, 666, 526, 403, 136, 380, 808, 266, 640, 808, 598, 195, 576, 711, 352, 655, 138, 289, 668, 763, 880, 478, 172, 668, 618, 657, 303, 470, 868]

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WAP to read all the keys and values from dictionary and write to the file in the given format.<br>
 - Key1, Value1
 - Key2, Value2
 - Key3, Value3

In [417]:
D = {1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}

In [418]:
f = open("file1.txt", "w")

for i in D.keys():
  s = " - "+str(i)+", "+str(D[i])+"\n"
  f.write(s)
f.close()

Q8. L is a list defined as L=["One","Two","Three","Four","Five"].<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WAP to count the length of reach element from a list and write to the file in the given below format:
 - One, 3
 - Two, 3
 - Four, 4

In [419]:
L=["One","Two","Three","Four","Five"]

In [420]:
f = open("file2.txt", "w")

for i in L:
  s = " - "+str(i)+", "+str(len(i))+"\n"
  f.write(s)
f.close()

Q9. Write to the file 100 random strings whose length between 10 and 15.

In [423]:
f = open("file3.txt", "w")

for i in range(100):
  s = random.choices(population=string.ascii_lowercase,k=random.randint(10,15))
  s="".join(s)
  f.write(s+"\n")
f.close()

Q10. Write to the file all prime numbers between 600 and 800.

In [424]:
f = open("file4.txt", "w")

for i in range(600,800):
  if sp.isprime(i):
    f.write(str(i)+"\n")
f.close()

Q11. WAP to calculate the time taken by a program.

Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.<br>
Number of elements in list Time Taken
 - 5k&nbsp;&nbsp; | T1
 - 10k | T2
 - 15k | T3
 - 20k | T4
 - 25k | T5

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks.